<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/forgotPassword.css" />
  <title>Login SR-4</title>
</head>

<body>
  <div class="login-card">
    <h2>Forgot Password</h2>
    <h3>Enter your email</h3>
    <!-- <% if (errorMessage) { %>
      <p class="error"><%= errorMessage %></p>
      <% } %> -->

    <form class="login-form">
      <input type="text" placeholder="user@xyz.com" name="username" required />

      <button type="submit">Reset Password</button>
    </form>
  </div>
  <script></script>
</body>

</html>